.card {

  background: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
  padding: 7px;

  &__wrapper {
    display: flex;
    flex-direction: column;

    background-color: #FFFFFF;
    padding: 57px 23px;
  }

  &__title {
    text-align: center;
    margin: 0;
    margin-bottom: 13px;

    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: #102654;

    @include vp-767 {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    color: #495A7D;
    text-align: center;

    margin: 0;
    margin-bottom: 60px;

    @include vp-767 {
      margin-bottom: 70px;
    }
  }

  &__price-container {
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-bottom: 31px;
    align-items: baseline;

    &--5000::after {
      font-size: 100px;
      font-weight: 700;
      color: #E8E8E8;
      opacity: 0.48;

      content: "5000";
      position: absolute;
      top: 7px;
      right: 50%;
      transform: translateX(50%);

      z-index: 1;
    }

    &--1700::after {
      font-size: 100px;
      font-weight: 700;
      color: #E8E8E8;
      opacity: 0.48;

      content: "1700";
      position: absolute;
      top: 7px;
      right: 50%;
      transform: translateX(50%);

      z-index: 1;
    }

    &--2700::after {
      font-size: 100px;
      font-weight: 700;
      color: #E8E8E8;
      opacity: 0.48;

      content: "2700";
      position: absolute;
      top: 7px;
      right: 50%;
      transform: translateX(50%);

      z-index: 1;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    color: #103AAE;

    margin-right: 15px;

    z-index: 2;
  }

  &__price-icon {
    font-family: "Rouble", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 150%;
  }

  &__button {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    display: block;
    padding: 24px;
    box-sizing: border-box;
    width: 206px;
    margin: 0 auto;
    background-color: #ffffff;
    // background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);

    border: 2px solid #102654;
    text-align: center;
    color: #102654;
  }
}
