.header {
  color: white;
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);

  &__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;

    margin: 0 auto;
    padding: 0 7.5%;
    padding-bottom: 51px;
    max-width: 1160px;

    @include vp-1199 {
      padding: 0 5.8%;
      padding-bottom: 82px;
    }

    @include vp-767 {
      padding: 0 4.6%;
      padding-bottom: 80px;
    }
  }

  &__top-part {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    @include vp-1199 {
      padding: 40px 0;
    }

    @include vp-1199 {
      padding: 20px 0;
    }
  }

  &__phone-link-text {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    cursor: default;
  }

  &__central-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: -32px;

    @include vp-1199 {
      margin-top: 0;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__main-content {
    display: flex;
    flex-direction: column;

    width: 377px;
    margin-right: 30px;

    @include vp-1199 {
      width: 47%;
      margin-right: 4.4%;
    }

    @include vp-767 {
      width: 100%;
      margin-right: 0;
    }
  }

  &__location {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;

    text-align: right;
    margin-bottom: 25px;

    @include vp-1199 {
      font-size: 34px;
      line-height: 41px;

      margin-bottom: 15px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__title-container {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;

    margin-bottom: 80px;
    margin-left: 15px;

    @include vp-1199 {
      margin-left: 0;
      margin-bottom: 50px;
    }
  }


  &__main-title {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 92px;
    line-height: 110px;
    text-align: right;

    margin: 0;
    letter-spacing: 0.05em;

    @include vp-1199 {
      font-size: 72px;
      line-height: 86px;
    }

    @include vp-767 {
      margin-left: 135px;

      br {
        display: none;
      }
    }
  }

  &__title-additional-text {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    margin: 0;
    max-width: 130px;
    text-align: right;
  }

  &__image-container {
    @include vp-1199 {
      width: 47%;
      margin-right: 4.4%;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__button {
    display: block;
    padding: 24px;
    box-sizing: border-box;
    border: 4px solid #FFFFFF;
    text-align: center;
    color: white;

    width: 60%;
    margin-left: auto;

    @include vp-767 {
      width: 100%;
    }
  }
}

.advantages {
  &__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;

    margin: 0 auto;
    padding: 0 7.5%;
    padding-bottom: 51px;
    max-width: 1160px;

    @include vp-1199 {
      padding: 0 5.8%;
      padding-bottom: 82px;
    }

    @include vp-767 {
      padding: 0;
      padding-bottom: 80px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 240px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5.7%;
    row-gap: 166px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    justify-content: space-between;

    @include vp-1199 {
      grid-template-columns: 1fr 1fr;
      column-gap: 12%;
      grid-template-rows: auto auto;
      row-gap: 50px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 9.5%;

    &--top-right {
      grid-column: 3 / 4;
      grid-row: 1 / 2;

      @include vp-1199 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }

    &--top-left {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      @include vp-1199 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }

    &--bottom-left {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      @include vp-1199 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
    }

    &--bottom-right {
      grid-column: 3 / 4;
      grid-row: 2 / 3;

      @include vp-1199 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }

    &--center {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 65px 20px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 1 / 3;

      background: #1C3374;
      color: #FFFFFF;

      @include vp-1199 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2 / 3;

        width: 66%;
        justify-self: center;
      }

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
  }

  &__item-title {
    line-height: 100%;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
  }

  &__explanation {
    font-size: 16px;
    line-height: 140%;

    margin: 0;

    &--center {
      text-align: center;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    align-self: top;
    grid-row: span 2;
    margin: 0;

    &--center {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
  }

  &__number-part {
    font-weight: 700;
    font-size: 71px;
    line-height: 100%;

    margin: 0;

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(142.51deg, #D10A42 0%, #0041CA 87.33%);

    &--center {
      font-weight: 700;
      font-size: 74px;
      line-height: 150%;
    }
  }

  &__definition-part {
    font-weight: 400;
    font-size: 14px;
    color: #2E35AC;

    &--center {
      font-weight: 700;
      font-size: 26px;
      line-height: 150%;
    }
  }
}
