.instructor {
  color: #ffffff;

  &:focus {
    & .instructor__title {
      position: static;
      transform: none;
    }

    & .instructor__image-container {
      z-index: -1;
    }

    & .instructor__content-container {
      padding-top: 54px;

      @include vp-767 {
        padding-top: 45px;
      }
    }
  }

  &:hover {
    & .instructor__title {
      position: static;
      transform: none;
    }

    & .instructor__image-container {
      z-index: -1;
    }

    & .instructor__content-container {
      padding-top: 54px;

      @include vp-767 {
        padding-top: 45px;
      }
    }
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 294px;
    height: 100%;
    background: rgba(16, 38, 84, 0.89);
    padding: 0;

    @include vp-767 {
      min-height: 274px;
    }
  }

  &__title {
    font-size: 18px;

    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

  &__subtitle {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__advantages {
    margin: 0 auto;
    padding-left: 33px;
    list-style-type: none;

    @include vp-767 {
      padding-left: 28px;
    }
  }

  &__advantage {
    position: relative;
    font-size: 14px;

    margin: 0;
    margin-bottom: 8px;

    &::before {
      position: absolute;
      left: -17px;
      top: 0;
      content: "•";
      font-size: 170%;
    }
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    padding: 77px 15%;
    padding-left: 15%;
    padding-bottom: 25px;

    @include vp-767 {
      min-height: 274px;
      padding: 60px 10%;
      padding-bottom: 20px;
    }
  }

  &__image-container {
    overflow: visible;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
}
