.main-promo {
  display: flex;
  flex-direction: row;
  min-height: 462px;
  color: #ffffff;

  @include vp-1199 {
    height: 462px;
  }

  @include vp-767 {
    flex-direction: column;
    height: auto;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin: 0;

    @include vp-767 {
      text-align: center;
    }
  }

  &__title-name {
    font-weight: 700;
    font-size: 28px;
    margin: 0;
    margin-bottom: 29px;
  }

  &__title-number {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: #ed0233;
    width: 50%;
    padding: 45px;

    @include vp-1199 {
      width: 41%;
    }

    @include vp-767 {
      width: 100%;
      text-align: center;
    }
  }

  &__image-container {
    width: 50%;
    min-height: 100%;

    background-image: url("../img/promo-woman-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -20px center;

    @include vp-1199 {
      width: 59%;

      background-image: url("../img/promo-woman-tablet.jpg");
      background-position: left top;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/promo-woman-tablet@2x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    @include vp-767 {
      width: 100%;
      aspect-ratio: 91/100;
      height: auto;

      background-image: url("../img/promo-woman-mobile.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/promo-woman-mobile@2x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx), (min-width: 1200px) {
      background-image: url("../img/promo-woman-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left -20px top;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;

    align-self: flex-start;
    display: block;
    border-bottom: 2px solid #ffffff;
    margin-top: auto;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    @include vp-767 {
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}
